<%= render 'home/starwarsBar' %>
<h1>Search for "<%= @tag %>"</h1>
<% if @movies.count > 0 %>
	<h1>List of Star Wars Films containing "<%= @tag %>"</h1>
	<%= render 'films/films' %>
<% end %>
<% if @characters.count > 0 %>
	<h1>List of Star Wars Characters containing "<%= @tag %>"</h1>
	<%= render 'characters/characters' %>
<% end %>
<% if @planets.count > 0 %>
	<h1>List of Star Wars Planets containing "<%= @tag %>"</h1>
	<%= render 'planets/planets' %>
<% end %>
<% if @species.count > 0 %>
	<h1>List of Star Wars Species containing "<%= @tag %>"</h1>
	<%= render 'species/species' %>
<% end %>
<% if @spaceships.count > 0 %>
	<h1>List of Star Wars Starships containing "<%= @tag %>"</h1>
	<%= render 'spaceships/spaceships' %>
<% end %>
<% if @vehicles.count > 0 %>
	<h1>List of Star Wars Vehicles containing "<%= @tag %>"</h1>
	<%= render 'vehicles/vehicles' %>
<% end %>