<div>
    <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-2"><%= @planet['name'] %></h1>
        <p>Rotation period : <%= @planet['rotation_period']%></p>
        <p>Orbital period : <%= @planet['orbital_period']%></p>
        <p>Diameter : <%= @planet['diameter']%></p>
        <p>Climate : <%= @planet['climate']%></p>
        <p>Gravity : <%= @planet['terrain']%></p>
        <p>Terrain water : <%= @planet['surface_water']%></p>
        <p>Population : <%= @planet['population']%></p>
        <%= link_to "Back to planets", planets_index_path, class:"btn btn-primary float-right" %>
    </div>
    <div class="row">
        <% if @characters.count > 0 %>
            <div class="col-md-3">
                <h2>Residents : </h2>
                <table class="table">
                    <tbody>
                        <% @characters.each do |character| %>
                            <tr>
                                <td><%= link_to character['name'], get_character_info_path(character: character) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @movies.count > 0 %>
            <div class="col-md-3">
                <h2>Films : </h2>
            </div>
        <% end %>
    </div>  
</div>
