<h1>All the information you want about Star Wars !</h1>
<div class="btn-toolbar" role="toolbar" aria-label="Categories">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <%= link_to 'Films', starwars_films_path, class:"btn btn-secondary" %>
    <%= link_to 'Characters', characters_index_path, class:"btn btn-secondary" %>
    <%= link_to 'Planets', planets_index_path, class:"btn btn-secondary" %>
    <button type="button" class="btn btn-secondary">Species</button>
    <button type="button" class="btn btn-secondary">Starships</button>
    <button type="button" class="btn btn-secondary">Vehicles</button>
  </div>
  <div class="input-group">
      <%= form_tag search_field_tag_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search..." %>
      <%= submit_tag "Search" %>
      <% end %>
  </div>
  
</div>
