<div>
    <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-2"><%= @spaceship['name'] %></h1>
        <p>Model : <%= @spaceship['model']%></p>
        <p>Manufacturer : <%= @spaceship['manufacturer']%></p>
        <p>Cost in credits : <%= @spaceship['cost_in_credits']%></p>
        <p>Length : <%= @spaceship['length']%></p>
        <p>Max atmosphering speed : <%= @spaceship['max_atmosphering_speed']%></p>
        <p>Crew : <%= @spaceship['crew']%></p>
        <p>Passengers : <%= @spaceship['passengers']%></p>
        <p>Cargo capacity : <%= @spaceship['cargo_capacity']%></p>
        <p>Consumables : <%= @spaceship['consumables']%></p>
        <p>Hyperdrive rating : <%= @spaceship['hyperdrive_rating']%></p>
        <p>MGLT : <%= @spaceship['MGLT']%></p>
        <p>Starship class : <%= @spaceship['starship_class']%></p>



        <%= link_to "Back to spaceships", spaceships_index_path, class:"btn btn-primary float-right" %>
    </div>
    <div class="row">
        <% if @characters.count > 0 %>
            <div class="col-md-3">
                <h2>Residents : </h2>
                <table class="table">
                    <tbody>
                        <% @characters.each do |character| %>
                            <tr>
                                <td><%= link_to character['name'], get_character_info_path(character: character) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
         <% end %>
         <% if @movies.count > 0 %>
            <div class="col-md-3">
                <h2>Films : </h2>
                <table class="table">
                    <tbody>
                        <% @movies.each do |movie| %>
                            <tr>
                                <td><%= link_to movie['title'], get_movie_info_path(movie: movie) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>  
</div>
