<div>
    <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-2"><%= @movie['title'] %></h1>
        <p>Episode : <%= @movie['episode_id']%></p>
        <p>Director : <%= @movie['director']%></p>
        <p>Producer : <%= @movie['producer']%></p>
        <p>Release Date : <%= @movie['release_date']%></p>
        <h3>Opening Crawl</h3>
        <p><%= @movie['opening_crawl']%></p>
        <%= link_to "Back to films", starwars_films_path, class:"btn btn-primary float-right" %>
    </div>
    <div class="row">
        <% if @characters.count > 0 %>
            <div class="col-md-3">
                <h2>Characters : </h2>
                <table class="table">
                    <tbody>
                        <% @characters.each do |character| %>
                            <tr>
                                <td><%= link_to character['name'], get_character_info_path(character: character) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @planets.count > 0 %>
            <div class="col-md-3">
               <h2>Planets : </h2>
               <table class="table">
                    <tbody>
                        <% @planets.each do |planet| %>
                            <tr>
                                <td><%= link_to planet['name'], get_planet_info_path(planet: planet) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @spaceships.count > 0 %>
            <div class="col-md-3">
               <h2>Spaceships : </h2>
               <table class="table">
                    <tbody>
                        <% @spaceships.each do |spaceship| %>
                            <tr>
                                <td><%= link_to spaceship['name'], get_spaceship_info_path(spaceship: spaceship) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
       <% if @vehicles.count > 0 %>
            <div class="col-md-3">
               <h2>Vehicles : </h2>
               <table class="table">
                    <tbody>
                        <% @vehicles.each do |vehicle| %>
                            <tr>
                                <td><%= link_to vehicle['name'], get_vehicle_info_path(vehicle: vehicle) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @species.count > 0 %>
            <div class="col-md-3">
               <h2>Species : </h2>
               <table class="table">
                    <tbody>
                        <% @species.each do |specie| %>
                            <tr>
                                <td><%= link_to specie['name'], get_specie_info_path(specie: specie) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        
    </div>  
</div>