<div>
    <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-2"><%= @character['name']%></h1>
        <p>Height : <%= @character['height']%></p>
        <p>Mass : <%= @character['mass']%></p>
        <p>Hair color : <%= @character['hair_color']%></p>
        <p>Skin color : <%= @character['skin_color']%></p>
        <p>Eye color : <%= @character['eye_color']%></p>
        <p>Birth Year : <%= @character['birth_year']%></p>
        <p>Gender : <%= @character['gender']%></p>
        <p>Homeworld : <%= link_to @planet['name'], get_planet_info_path(planet: @planet) %></p>
        <%= link_to "Back to characters", characters_index_path, class:"btn btn-primary float-right" %>
    </div>
    <div class="row">
    	<% if @movies.count > 0 %>
            <div class="col-md-3">
                <h2>Films : </h2>
                <table class="table">
                    <tbody>
                        <% @movies.each do |movie| %>
                            <tr>
                                <td><%= link_to movie['title'], get_movie_info_path(movie: movie) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @species.count > 0 %>
            <div class="col-md-3">
                <h2>Species : </h2>
                <table class="table">
                    <tbody>
                        <% @species.each do |specie| %>
                            <tr>
                                <td><%= link_to specie['name'], get_specie_info_path(specie: specie) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @vehicles.count > 0 %>
            <div class="col-md-3">
                <h2>Vehicles : </h2>
                <table class="table">
                    <tbody>
                        <% @vehicles.each do |vehicle| %>
                            <tr>
                                <td><%= link_to vehicle['name'], get_vehicle_info_path(vehicle: vehicle) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @spaceships.count > 0 %>
            <div class="col-md-3">
                <h2>Spaceships : </h2>
                <table class="table">
                    <tbody>
                        <% @spaceships.each do |spaceship| %>
                            <tr>
                                <td><%= link_to spaceship['name'], get_spaceship_info_path(spaceship: spaceship) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>  
</div>