<% if !@vehicles.nil? %>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="text-center"><%= link_to "Name", :sort => "name"%></th>
                <th class="text-center"><%= link_to "Model", :sort => "model"%></th>
                <th class="text-center"><%= link_to "Manufacturer", :sort => "manufacturer"%></th>
            </tr>
        </thead>
        <tbody>
            <% @vehicles.each do |vehicle| %>
            <tr>
                <td><%= link_to vehicle['name'], get_vehicle_info_path(vehicle: vehicle) %></td>
                <td class="text-center"><%= vehicle['model'] %></td>
                <td class="text-center"><%= vehicle['manufacturer'] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <h1>NO DATA AVAILABLE</h1>
<% end %>
